:root {
    --default-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    --default-header-footer-color: #0c1c3e;
    --default-transparent-header-color: #0c1c3ef1;
    --default-background-color: #1d4396;
    --default-primary-font-color: white;
    --default-secondary-font-color: #0c1c3e;
    --default-footer-font-color: gray;
    --default-yellow: rgb(255, 203, 8);
    --bar-hover-color-over: red;
    --default-button-hover-color: #050d1f;
}

/* ESTILIZAÇÃO DO HEADER */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-bar {
    background-color: var(--default-header-footer-color);
    height: 4.375rem;
}

.button-logo {
    background: none;
}

/* BARRA DE FILTRAR */
.form-search {
    font-size: 15px;
    height: 80px;
    width: 100%;
    background-color: var(--default-primary-font-color);
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto auto;
}

.form-search p {
    display: none;
}

.form-search select,
.form-search input,
.form-search button {
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 12px;
    background: none;
}

.form-search button {
    color: var(--default-primary-font-color);
    border-radius: 50px;
    background-color: var(--default-header-footer-color);
}

.form-search button:hover {
    background-color: var(--default-button-hover-color);
}

/* ESTILIZAÇÃO DO BACKGROUND */
body::before {
    height: 100%;
    content: " ";
    background-image: url(../styles/img/background_sky.jpeg);
    background-size: cover;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    z-index: -1;
}

/* BARRA DO CÁLCULO AGREGADO */
.calculation-print {
    background-color: var(--default-primary-font-color);
    height: 30px;
    width: 90%;
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    position: relative;
    z-index: -1;
    font-size: 13px;
    top: 165px;
}

/* ESTILIZAÇÃO DOS CARDS */
.pokemonList {
    top: 170px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    position: relative;
}

.cards {
    color: var(--default-secondary-font-color);
    margin: 8px;
    height: 310px;
    width: 210px;
}

.front-cards,
.front-cards-shiny {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: grid;
}

.front-cards,
.front-cards-shiny {
    background-color: var(--default-yellow);
    align-content: space-between;
    text-align: center;
}

.numberPokemon {
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
}

.namePokemon {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.info-cards {
    width: 210px;
    background-color: var(--default-primary-font-color);
    border-radius: 0 0 10px 10px;
}

.info {
    font-size: 15px;
    border-top: 2px solid var(--default-footer-font-color);
    padding: 3px;
    white-space: pre-wrap;
    word-break: break-word;
}

/* BOTÃO TOP */
.button-top {
    background: none;
    right: 0;
    bottom: 1.25rem;
    margin-right: 1rem;
    position: fixed;
    display: none;
}

.button-top img {
    height: 3rem;
}

/* ESTILIZAÇÃO VERSÃO SHINY */
body.shiny::before {
    height: 100%;
    content: " ";
    background-image: url(../styles/img/background-shiny.jpg);
    background-size: cover;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
    position: fixed;
    z-index: -1;
}

.front-cards-shiny {
    background-color: #c79d33;
    align-content: space-between;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .pokemonList {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 768px) {
    .form-search {
        font-size: 15px;
        border-radius: 50px;
    }

    .form-search select,
    .form-search input,
    .form-search button {
        font-size: 15px;
        width: 110px;
    }

    .pokemonList {
        grid-template-columns: auto auto;
    }

    .button-top {
        right: 1.25rem;
        bottom: 1.25rem;
        margin-right: 1rem;
    }

    .button-top img {
        height: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .form-search {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
    }

    .calculation-print {
        font-size: 15px;
        top: 150px;
    }

    .pokemonList {
        top: 160px;
        grid-template-columns: auto auto auto auto;
    }
}